# Source conf.d/common/ in order
for f in ~/.config/fish/conf.d/common/*.fish
    source $f
end

# Source conf.d/client/ on client machines
{{ if .machine.isClient -}}
for f in ~/.config/fish/conf.d/client/*.fish
    source $f
end
{{ end -}}
