{{ if not .features.dev -}}
.bashrc.d/dev
{{ end -}}

{{ if not .features.hpc -}}
.bashrc.d/hpc
bin/hpc
{{ end -}}

{{ if ne .machine.distro "ubuntu" -}}
.bashrc.d/core/ubuntu
{{ end -}}

{{ if ne .machine.distro "arch" -}}
.bashrc.d/core/arch
{{ end -}}
