# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# Initialize `~/.bashrc.d`
[[ -s "${HOME}/.bashrc.d/.init.sh" ]] && source ${HOME}/.bashrc.d/.init.sh


#=======================================================================#
#                                 Options                               #
#=======================================================================#
shopt -s histappend
shopt -s cdspell
shopt -s checkwinsize


#=======================================================================#
#                          Environment variables                        #
#=======================================================================#
# Global
export HISTSIZE=10000
export HISTFILESIZE=${HISTSIZE}
export HISTCONTROL=ignoreboth

####################################################################################
# Lancement ssh-agent
####################################################################################
env=~/.ssh/agent.env
 
agent_load_env () { test -f "$env" && . "$env" >| /dev/null ; }
 
agent_start () {
    (umask 077; ssh-agent >| "$env")
    . "$env" >| /dev/null ; }
 
agent_load_env
 
# agent_run_state: 0=agent running w/ key; 1=agent w/o key; 2=agent not running
agent_run_state=$(ssh-add -l >| /dev/null 2>&1; echo $?)
 
if [ ! "$SSH_AUTH_SOCK" ] || [ $agent_run_state = 2 ]; then
    agent_start
    ssh-add ~/.ssh/gitlab-ssh-cnes-fr
elif [ "$SSH_AUTH_SOCK" ] && [ $agent_run_state = 1 ]; then
    ssh-add ~/.ssh/gitlab-ssh-cnes-fr
fi
 
unset env
