# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# Initialize `~/.bashrc.d`
[[ -s "${HOME}/.bashrc.d/.init.sh" ]] && source ${HOME}/.bashrc.d/.init.sh


#=======================================================================#
#                                 Options                               #
#=======================================================================#
shopt -s histappend
shopt -s cdspell
shopt -s checkwinsize


#=======================================================================#
#                          Environment variables                        #
#=======================================================================#
# Global
export HISTSIZE=10000
export HISTFILESIZE=${HISTSIZE}
export HISTCONTROL=ignoreboth

# Hand off to fish if available (interactive sessions only)
if command -v fish >/dev/null 2>&1 && [[ $- == *i* ]]; then
    #exec fish
    echo "Fish to delete."
	#TODO: Decide what to do with fish.
fi

