#!/usr/bin/env bash
set -e

echo "[chezmoi] Installing Pixi global tools..."

# Universal tools
pixi global add \
    starship \
    ripgrep \
    fd-find \
    fzf \
    jq \
    bat \
    tree \
    gh

# Linux tools
{{ if eq .chezmoi.os "linux" }}
pixi global add \
    wezterm
{{ end }}

echo "[chezmoi] CLI installed via Pixi"

