#!/usr/bin/env bash
set -e

# Confirm if the installation is required
source "$HOME/.local/share/chezmoi/home/dot_local/bin/confirm.sh"
if confirm "Do you want to install openssh ?"; then

	# Load install functions
	source "$HOME/.local/share/chezmoi/install/common/basics.sh"
	source "$HOME/.local/share/chezmoi/install/common/openssh.sh"

	os="{{ .chezmoi.osRelease.id }}"

	echo "[chezmoi] Installing system packages for OS: $os"
	
	case "$os" in
    	ubuntu|debian)
        	basics_apt
        	openssh_apt
        	;;
    	fedora|rhel|centos)
        	basics_dnf
        	openssh_dnf
        	;;
    	arch|manjaro)
        	basics_pacman
        	openssh_pacman
        	;;
    	*)
        	echo "OS non supporté: $os"
        	exit 1
        	;;
	esac

else
	echo "No installation of ssh performed."
fi
