{{- $os := .chezmoi.os -}}
{{- $id := .chezmoi.osRelease.id -}}
{{- $like := .chezmoi.osRelease.idLike -}}

{{ if eq $os "darwin" }}
    {{/* macOS */}}
    include ".chezmoi/macos-config.tmpl"
{{ else if or (eq $id "fedora") (eq $id "rhel") (eq $id "rocky") (eq $id "almalinux") (eq $like "fedora") }}
    {{/* Fedora family (Fedora, RHEL, Rocky, Alma, Oracle, CentOS Stream...) */}}
    include ".chezmoi/fedora-config.tmpl"
{{ else if or (eq $id "debian") (eq $id "ubuntu") (eq $id "linuxmint") (eq $like "debian") }}
    {{/* Debian family */}}
    include ".chezmoi/debian-config.tmpl"
{{ else if eq $id "arch" }}
    {{/* Arch Linux */}}
    include ".chezmoi/arch-config.tmpl"
{{ else }}
    {{ fail (printf "Unsupported OS: id=%s idLike=%s os=%s" $id $like $os) }}
{{ end }}

