#!/usr/bin/env bash

# Check that the os is Linux and install ssh. 

{{ if eq .chezmoi.os "linux" -}}
	echo "[setup-ssh] Linux OS detected, installing ssh..."
{{	include "../install/common/uv.sh" }}
{{ else -}}
	echo "[setup-ssh] Not a linux distribution: {{ .chezmoi.os }}"
{{ end -}}
