#!/usr/bin/env bash

[ -d "$HOME/bin" ]                          && PATH="$HOME/bin:$PATH"
[ -d "$HOME/.local/bin" ]                   && PATH="$HOME/.local/bin:$PATH"
[ -d "$HOME/.pixi/bin" ]                    && PATH="$HOME/.pixi/bin:$PATH"
[ -d "$HOME/.local/share/keepassxc" ]       && PATH="$HOME/.local/share/keepassxc:$PATH"
[ -d "$HOME/.config/nvim-configs/bin" ]     && PATH="$HOME/.config/nvim-configs/bin:$PATH"

export PATH

{{ if regexMatch "^trex" .chezmoi.hostname }}
[ -d "/work/scratch/data/walcark/pixi/bin" ] && PATH="/work/scratch/data/walcark/pixi/bin:$PATH"
{{ end }}
